section {
  animation: sect-anim 1s ease-in-out backwards;
}

@keyframes sect-anim {
  0% {
    position: relative;
    opacity: 0;
    bottom: -50px;
  }
  100% {
    position: relative;
    bottom: 0px;
    opacity: 1;
  }
}
